%nav.top-bar#nav{"data-topbar" => ""}
  %ul.title-area
    %li.left_padding= link_to 'HOME', root_path
    %li.toggle-topbar.menu-icon
      %a{href: "#"} Menu
  .top-bar-section
    %ul.right= render 'layouts/navigation_links'